.desktop-3 .image-9 {
  background: url('../assets/images/image_9.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-3 .agri-tech {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kadwa';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.desktop-3 .image-21 {
  background: url('../assets/images/image_2.png');
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 79px;
  height: 85px;
}
.desktop-3 .logo {
  position: relative;
  margin: 0 0 110px 438.6px;
  display: flex;
  padding-top: 21px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-3 .sign-up {
  margin: 0 0 90px 15.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Tienne';
  font-weight: 700;
  font-size: 36px;
  background: linear-gradient(181.85deg, #FFFFFF 22.9%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-3 .email-5 {
  overflow-wrap: break-word;
  font-family: 'Tienne';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.desktop-3 .email {
  display: flex;
  box-sizing: border-box;
}
.desktop-3 .image-3 {
  background: url('../assets/images/image_31.png') 50% / cover no-repeat;
  margin: 4px 0;
  width: 25px;
  height: 19px;
}
.desktop-3 .container-1 {
  margin: 0 1px 9px 4.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 426.2px;
  box-sizing: border-box;
}
.desktop-3 .line-1 {
  background: #000000;
  margin: 0 0 66px 1px;
  width: 431px;
  height: 0px;
}
.desktop-3 .email-6 {
  overflow-wrap: break-word;
  font-family: 'Tienne';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.desktop-3 .email-1 {
  display: flex;
  box-sizing: border-box;
}
.desktop-3 .image-51 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  margin: 4px 0;
  width: 25px;
  height: 19px;
}
.desktop-3 .container-6 {
  margin: 0 1px 9px 4.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 426.2px;
  box-sizing: border-box;
}
.desktop-3 .line-2 {
  background: #000000;
  margin: 0 0 57px 1px;
  width: 431px;
  height: 0px;
}
.desktop-3 .email-7 {
  overflow-wrap: break-word;
  font-family: 'Tienne';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.desktop-3 .email-2 {
  display: flex;
  box-sizing: border-box;
}
.desktop-3 .image-5 {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  margin-bottom: 2px;
  width: 24px;
  height: 25px;
}
.desktop-3 .container-7 {
  margin: 0 1px 9px 3.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 427.2px;
  box-sizing: border-box;
}
.desktop-3 .line-3 {
  background: #000000;
  margin: 0 1px 23px 0;
  width: 431px;
  height: 0px;
}
.desktop-3 .login {
  overflow-wrap: break-word;
  font-family: 'Tienne';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.desktop-3 .button {
  border-radius: 45px;
  background: linear-gradient(180deg, #FFFFFF);
  position: relative;
  margin-right: 1px;
  display: flex;
  padding: 14px 1.2px 14px 0;
  width: 431px;
  box-sizing: border-box;
}
.desktop-3 .forgot-password-3 {
  overflow-wrap: break-word;
  font-family: 'Tienne';
  font-weight: 400;
  font-size: 16px;
  line-height: 4.063;
  color: #000000;
}
.desktop-3 .forgot-password {
  margin: 0 17.7px;
  display: flex;
  box-sizing: border-box;
}
.desktop-3 .frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-3 .container-4 {
  box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.25), inset 44.3px -44.3px 44.3px 0px rgba(165, 165, 165, 0.1), inset -44.3px 44.3px 44.3px 0px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(44.3px);
  border-radius: 55px;
  background: rgba(255, 248, 248, 0.33);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 0 47px 0;
  width: 866px;
  box-sizing: border-box;
}
.desktop-3 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 866px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-3 .login-1 {
  margin: 0 0 66px 9px;
  display: inline-block;
  overflow-wrap: break-word;
}
.desktop-3 .email-8 {
  overflow-wrap: break-word;
}
.desktop-3 .email-3 {
  display: flex;
  box-sizing: border-box;
}
.desktop-3 .image-31 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  margin: 4px 0;
  width: 25px;
  height: 19px;
}
.desktop-3 .container {
  margin: 0 1px 76px 3.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 426.2px;
  box-sizing: border-box;
}
.desktop-3 .email-9 {
  overflow-wrap: break-word;
}
.desktop-3 .email-4 {
  display: flex;
  box-sizing: border-box;
}
.desktop-3 .image-4 {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  margin: 1px 0;
  width: 24px;
  height: 25px;
}
.desktop-3 .container-8 {
  margin: 0 0 82px 3.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 427.2px;
  box-sizing: border-box;
}
.desktop-3 .login-2 {
  overflow-wrap: break-word;
}
.desktop-3 .button-1 {
  border-radius: 45px;
  margin: 0 3.2px 73px 0;
  display: flex;
  box-sizing: border-box;
}
.desktop-3 .create-an-account {
  margin-right: 32.5px;
  width: 148px;
  overflow-wrap: break-word;
}
.desktop-3 .forgot-password-4 {
  overflow-wrap: break-word;
}
.desktop-3 .forgot-password-1 {
  display: flex;
  box-sizing: border-box;
}
.desktop-3 .container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 430.8px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-3 .forgot-password-5 {
  overflow-wrap: break-word;
}
.desktop-3 .forgot-password-2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  box-sizing: border-box;
}
.desktop-3 .container-3 {
  position: relative;
  margin-right: 0.2px;
  display: flex;
  width: 430.8px;
  box-sizing: border-box;
}
.desktop-3 .frame-2 {
  position: absolute;
  right: 311px;
  bottom: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-3 .image-2 {
  border-radius: 90px;
  background: url('../assets/images/image_21.jpeg');
  width: 473px;
  height: 645px;
}
.desktop-3 .image {
  border-radius: 90px;
  position: absolute;
  right: 121px;
  bottom: 163px;
  display: flex;
  width: 473px;
  height: 645px;
  box-sizing: border-box;
}
.desktop-3 {
  background: linear-gradient(89.66deg, #FAF4F9 39.2%);
  padding: 41px 104px 0 104px;
  width: 1440px;
  box-sizing: border-box;
}
